<article class="project" [style.animation-delay]="(index * 0.5) + 's'">

  <figure>
    <a data-lightbox="img"
      href="../../assets/images/portfolio/desktop/image-portfolio-{{project.title.toLowerCase()}}@2x.jpg"
      data-title="{{project.title}}">

      <img src="../../assets/images/portfolio/mobile/image-portfolio-{{project.title.toLowerCase()}}@2x.jpg"
        alt="{{project.title}} Preview" class="img-mobile" />

      <img src="../../assets/images/portfolio/tablet/image-portfolio-{{project.title.toLowerCase()}}@2x.jpg"
        alt="{{project.title}} Preview" class="img-tablet" />

      <img src="../../assets/images/portfolio/desktop/image-portfolio-{{project.title.toLowerCase()}}@2x.jpg"
        alt="{{project.title}} Preview" class="img-desktop" />
    </a>
  </figure>

  <div class="content">
    <div class="line"></div>

    <div>
      <h2>{{project.title}}</h2>

      <p class="my-6 md:my-8 text-start description">{{project.description}}</p>

      <button [routerLink]="['/project',project.title]" class="button secondary">view project</button>
    </div>

    <div class="line"></div>
  </div>

</article>