/* npx tailwindcss -i ./src/input.css -o ./src/styles.css --watch */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Public Sans', sans-serif;
    @apply bg-theme trans-bg text-theme font-normal;
  }

  h1,
  h2,
  h3 {
    font-family: 'Ibarra Real Nova', serif;
    @apply font-bold;
  }

  h1 {
    @apply text-[50px] leading-[50px] tracking-[-0.45px];
  }
  h2 {
    @apply text-[40px] leading-[42px] tracking-[-0.36px];
  }
  h3 {
    @apply text-[32px] leading-[42px] tracking-[-0.29px] font-normal;
  }

  #mobile-nav {
    @apply fixed right-8 py-10 px-16 z-50 origin-top-right scale-0 transition-transform duration-150;
    &.open {
      @apply scale-100;
      & + #bg-mobile-nav {
        @apply pointer-events-auto;
      }
    }
  }

  main {
    @apply px-8 md:px-10 min-h-[70vh] desktop-size;
  }

  #about-me {
    scroll-margin-top: 100px;
  }
}

@layer components {
  .bg-theme {
    @apply bg-background-light dark:bg-background-dark;
  }
  .bg-theme-reverse {
    @apply bg-background-dark dark:bg-background-light;
  }
  .text-theme {
    @apply text-text-light dark:text-text-dark;
  }
  .text-theme-reverse {
    @apply text-text-dark dark:text-text-light;
  }
  .trans-bg {
    transition: background-color 0.3s;
  }
  .desktop-size {
    @apply max-w-[1111px] mx-auto;
  }
  .img-mobile {
    @apply md:hidden;
  }
  .img-tablet {
    @apply hidden md:block lg:hidden;
  }
  .img-desktop {
    @apply hidden lg:block;
  }
  .line {
    @apply w-full h-[1px] bg-[#979797];
  }
  .description {
    @apply text-[15px] leading-[30px];
  }
  .tags {
    @apply text-[13px] leading-[30px];
  }
  .small-text {
    @apply text-[12px] tracking-[2px];
  }

  .button {
    &.primary {
      @apply w-[200px] flex items-center bg-background-darkBlue text-text-dark transition-colors duration-300 hover:bg-text-accent;

      .img {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(./assets/images/icons/down-arrows.svg);
        @apply w-10 aspect-square bg-black/20 transition-all duration-300;
      }

      &:hover .img {
        background-image: url(./assets/images/icons/down-arrows-white.svg);
      }

      .content {
        @apply flex-grow p-2 uppercase small-text text-center;
      }
    }
    &.secondary {
      @apply btn-border-theme min-w-[202px] text-center p-3 uppercase small-text transition-colors duration-300;
    }
    &.invalid {
      @apply opacity-40 cursor-not-allowed;
    }
  }

  .btn-border-theme {
    @apply border border-background-dark dark:border-background-light bg-theme hover:bg-theme-reverse text-theme hover:text-theme-reverse;
  }

  .loader {
    &.project {
      @apply block text-[50px] text-center p-10;
      &:before {
        content: '{';
        display: inline-block;
        animation: pulse 0.4s alternate infinite ease-in-out;
      }
      &:after {
        content: '}';
        display: inline-block;
        animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
      }
    }
    &.email {
      width: 23px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
      @apply border-[3px] border-text-accent border-b-red-500;
    }
  }
  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .form-input {
    input,
    textarea {
      &::placeholder {
        @apply text-text-light;
      }
      &.ng-invalid.ng-touched {
        @apply outline-text-red outline-1 focus:outline-text-accent;
      }
    }
    p {
      @apply text-[10px] lg:text-[12px] text-text-red;
    }
  }
}
