<section class="mb-24 grid gap-6 relative">
  <figure>
    <img src="../../assets/images/homepage/mobile/image-homepage-hero@2x.jpg" alt="hero image" class="img-mobile">
    <img src="../../assets/images/homepage/tablet/image-homepage-hero@2x.jpg" alt="hero image"
      class="img-tablet w-full">
    <img src="../../assets/images/homepage/desktop/image-homepage-hero@2x.jpg" alt="hero image"
      class="img-desktop w-full">
  </figure>

  <article
    class="bg-theme trans-bg md:absolute md:bottom-0 md:left-0 max-w-[514px] md:text-balance md:pt-20 lg:max-w-[445px] lg:pr-10">
    <h2>Hey, I'm Gabriel Ferreira and I love building beautiful websites</h2>

    <button (click)="scrollToSection('about-me')" class="mt-8 md:mt-12 button primary">
      <span class="img"></span>
      <figcaption class="content">about me</figcaption>
    </button>

  </article>
</section>