<section class="gap-8 md:gap-[69px] lg:gap-[125px] grid md:grid-cols-2" id="about-me">

  <figure class=" md:w-[281px] lg:w-[540px] md:h-[600px] lg:h-[600px]">
    <img loading="lazy" src="../../assets/images/homepage/mobile/image-homepage-profile@2x.jpg" alt="profile image"
      class="img-mobile w-full">
    <img loading="lazy" src="../../assets/images/homepage/tablet/image-homepage-profile@2x.jpg" alt="profile image"
      class="img-tablet w-full h-full object-cover">
    <img loading="lazy" src="../../assets/images/homepage/desktop/image-homepage-profile@2x.jpg" alt="profile image"
      class="img-desktop w-full h-full object-cover">
  </figure>

  <article class="lg:ml-auto lg:max-w-[350px]">
    <div class="mb-8 md:mb-[50px] line"></div>

    <h2>About Me</h2>

    <p class="mt-7 mb-6 md:text-[16px] description">
      I’m a junior front-end developer looking for a new role in an exciting company. I focus on writing accessible
      HTML, using modern CSS practices and writing clean JavaScript. When writing JavaScript code, I mostly use
      Angular,
      but I can adapt to whatever tools are required. I’m based in Portugal, PT, but I’m happy working remotely. When
      I’m not coding, you’ll find me outdoors. I love being out in nature whether
      that’s going for a walk, run or cycling. I’d love you to check out my work.
    </p>

    <button class="button secondary" routerLink="/projects">
      go to portfolio
    </button>

    <div class="mt-14 md:mt-12 lg:mt-[80px] line"></div>
  </article>
</section>