<main>
  <section id="hero" class="mb-24">
    <figure>
      <img src="../../assets/images/homepage/mobile/image-homepage-hero@2x.jpg" alt="hero image"
        class="md:hidden w-full">
      <img src="../../assets/images/homepage/tablet/image-homepage-hero@2x.jpg" alt="hero image"
        class="md:block hidden lg:hidden w-full">
      <img src="../../assets/images/homepage/desktop/image-homepage-hero@2x.jpg" alt="hero image"
        class="lg:block hidden w-full">
    </figure>

    <article class="hero-content">
      <h2>Hey, I'm Gabriel Ferreira and I love building beautiful websites</h2>
      <button (click)="scrollToSection('about-me')" class="mt-8 md:mt-12 button primary">
        <span class="img"></span>
        <figcaption class="content">about me</figcaption>
      </button>
    </article>
  </section>

  <section class="gap-8 md:gap-[69px] lg:gap-[125px] grid md:grid-cols-2" id="about-me">
    <figure class="relative md:w-[281px] lg:w-[540px] md:h-[600px] lg:h-[600px]">
      <div class="absolute inset-0 bg-primary-Grayish-Dark-Blue/40"></div>
      <img src="../../assets/images/homepage/mobile/image-homepage-profile@2x.jpg" alt="profile image"
        class="md:hidden w-full">
      <img src="../../assets/images/homepage/tablet/image-homepage-profile@2x.jpg" alt="profile image"
        class="md:block hidden lg:hidden w-full h-full object-cover">
      <img src="../../assets/images/homepage/desktop/image-homepage-profile@2x.jpg" alt="profile image"
        class="lg:block hidden w-full h-full object-cover">
    </figure>

    <article class="lg:ml-auto lg:max-w-[350px]">
      <div class="mb-8 md:mb-[50px] line"></div>

      <h2>About Me</h2>

      <p class="mt-7 mb-6 md:text-[16px] description">
        I’m a junior front-end developer looking for a new role in an exciting company. I focus on writing accessible
        HTML, using modern CSS practices and writing clean JavaScript. When writing JavaScript code, I mostly use
        Angular,
        but I can adapt to whatever tools are required. I’m based in Portugal, PT, but I’m happy working remotely. When
        I’m not coding, you’ll find me outdoors. I love being out in nature whether
        that’s going for a walk, run or cycling. I’d love you to check out my work.
      </p>

      <button class="button secondary" routerLink="/projects">
        go to portfolio
      </button>

      <div class="mt-14 md:mt-12 lg:mt-[80px] line"></div>
    </article>
  </section>

  <app-contact-me-link></app-contact-me-link>

</main>